ol, ul {
  font-size: 1.3em;
  line-height: 1.7em;
margin: 2% 25% 2% 25%;
  color: #858585;
}


img {
  -webkit-box-shadow: 1px 1px 6px 1px #8e8181;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 6px 1px #8e8181;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 6px 1px #8e8181;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin-top: 3%;
}


body {
  font-family: 'Raleway', sans-serif;
background: #ffffff
}

h1,
h2,
h3,
h4,
h5,
h6 {
color: #484848;
margin: 2% 25% 2% 25%;
}

p,
blockquote {
margin: 2% 25% 2% 25%;
  font-size: 1.3em;
  line-height: 1.7em;
  font-weight: 300;
  color: #858585;
}
#navigationTop {
  border: 1px solid black;
}
#welcomeHeading {
  text-align: center;
  font-size: 260%;
}
#letsBeginWrapper {
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}
#guidedTour {
  float: left;
  width: 45%;
  text-align: center;
  padding: .9% .9% .9% .9%;
  background: #f16334;
  color: white;
  transition: all 0.3s linear;
  border-right: 1px solid;
  text-transform: uppercase;
  font-weight: 700;
  border: solid 1px;
  cursor: pointer;
}
#guidedTour:hover {
  transition: all 0.3s linear;
  background: white;
  color: #F16332;
  border-color: #f16334;
}

.topNavMenu {
  list-style: none;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
}
#homeNav,
#tutorialNav,
#whoNav
 {
  width: 33%;
  background: #f16334;
  color: white;
  transition: all 0.3s linear;
  padding: .9% .9% .9% .9%;
  border-right: 1px solid;
  text-transform: uppercase;
  font-weight: 700;
  border: solid 1px;
  cursor: pointer;
}
#homeNav:hover,
#tutorialNav:hover,
#whoNav:hover
 {
  transition: all 0.3s linear;
  background: white;
  color: #F16332;
  border-color: #f16334;
}

a {
    display: contents;
    text-decoration: none;
}

@media (max-width: 768px) {
  #tutorialNav, #whoNav, #homeNav {
    padding: 4% 4% 4% 4%;
  }
  body {
    margin-left: 4%;
    margin-right: 4%;
  }
}
@media (max-width: 320px) {

  body {
    margin-left: 2%;
    margin-right: 2%;
  }
  #tutorialNav, #whoNav, #homeNav {
    padding: 5% 2% 5% 2%;
    font-size: .76em;
  }
}
#nextSection {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 0;
  font-size: 1.4em;
  line-height: 1em;
  text-align: center;
  color: #f16334;
  width: 46%;
}
#continueTheJourney {
  width: 45%;
  text-align: center;
  padding: .9% .9% .9% .9%;
  background: #f16334;
  color: white;
  transition: all 0.3s linear;
  text-transform: uppercase;
  font-weight: 700;
  border: solid 1px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
#continueTheJourney:hover {
  transition: all 0.3s linear;
  background: white;
  color: #F16332;
  border-color: #f16334;
}
.linkStyle {
  text-decoration: none;
}